@model mvc_entity.Models.tb_jogador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_jogador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_jogador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_jogador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_times.nome_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_times.nome_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_jogador }) |
    @Html.ActionLink("Back to List", "Index")
</p>
