@model mvc_entity.Models.tb_times

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_times</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtd_jogadores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtd_jogadores)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_time }) |
    @Html.ActionLink("Back to List", "Index")
</p>
